body {
  font-family: "Poppins", sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure img {
  width: 80vw;
}

figure figcaption {
  text-align: center;
}
