.nasaPicOfTheDay {
  margin: 0.5rem auto;
  width: 100%;
  height: auto;
}

.nasaPicOfTheDay h3 {
  font-style: italic;
}

.nasaPicOfTheDay p {
  text-align: justify;
}

.nasaPicOfTheDay img {
  display: block;
  width: 100%;
  height: 60vh;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.roverPhotosWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}
