* {
  font-family: "Nunito", sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1,
h4,
footer {
  text-align: center;
}

header h4 {
  display: none;
}

header,
nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

nav a {
  color: #3a6299;
}

nav a:hover {
  text-decoration: underline;
}

a {
  padding: 0 0.5rem;
  text-decoration: none;
}

a:focus,
.btn-linkedin:focus {
  outline: 2px solid #29627e;
  outline-offset: 3px;
}

.btn-linkedin {
  background-color: #3a6299;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: small;
  color: #ffffff;
}

.btn-linkedin:hover {
  background-color: #265ead;
}

.btn-linkedin:active {
  background-color: #265ead;
  box-shadow: 0 0.25rem #eeeeee;
  transform: translateY(4px);
}

#latest-post {
  background-color: #eeeeee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#latest-post p {
  text-align: justify;
}

aside {
  width: 30vw;
  box-shadow: inset 5px 0 5px -5px #29627e;
  padding-left: 0.5rem;
  font-style: italic;
  color: #29627e;
}

@media (min-width: 768px) {
  header h4 {
    display: flex;
  }

  .btn-linkedin {
    font-size: medium;
  }
}
