* {
  font-family: "DM Sans", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  text-align: center;
}

img {
  width: 60vw;
}

.hidden {
  display: none;
}
